@{ 

    Layout = "~/Views/Shared/_LayoutEmployee.cshtml"; 
    }



<h1>Sayın @User.Identity.Name; SinemaGünlerim'i seçtiğiniz için teşekkür ederiz. İyi çalışmalar :)'</h1>
<br />
<br />
<h4>Kurallarımız:</h4>
<br />
<h6>Lütfen her zaman müşterilerimizi güleryüz ile karşılayalım.</h6>
<h6>Müşteri hakkında problem yaşandığında yetkili birime yönlendirelim.</h6>
<h6>Rezarvasyon bölümünden onay bekleyen biletleri kontrol edelim.</h6>