
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1 style="color:darkgreen">Sayın @User.Identity.Name; </h1>
<h6>SinemaGünlerim'i seçtiğin için teşekkür ederiz. Yukarıda bulunan filmler bölümünden tüm filmleri görebilir ve rezervasyonunuzu yapabilirsiniz.</h6>
